<!DOCTYPE html>
<html>
  <head>
    <title>AjaxPractice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "jquery 练习一", jquery_1_path %> |
    <%= link_to "jquery 练习二", jquery_2_path %> |
    <%= link_to "jquery 练习三", jquery_3_path %> |
    <%= link_to "jquery 练习四", jquery_4_path %> |
    <%= link_to "jquery 练习五", jquery_5_path %>
    <%= yield %>
  </body>
</html>
